<h1 class="centersh">Orders <span class="train">Placed</span></h1>
<div class="container times">
    <% if (orders && Array.isArray(orders) && orders.length > 0) { %>
        <table class="table table-dark table-striped border-primary tables ptable table-bordered border-warning">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Product Ordered</th>
                    <th scope="col">Order Placed On</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact no</th>
                    <th scope="col">Price</th>
                    
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < orders.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= orders[i].username %></td>
                        <td><%= orders[i].items %></td>
                        <td><%= orders[i].date %></td>
                        <td><%= orders[i].address %></td>
                        <td><%= orders[i].contact %></td>
                        <td><%= orders[i].totalPrice %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else { %>
        <p>No orders Placed.</p>
    <% } %>
</div>
